$primary-color:rgba(28, 30, 83, 1);
$secondary-color:rgba(255, 255, 255, 1);
$btn-color:rgba(252, 217, 128, 1);
$text-color:rgba(40, 41, 56, 1);
$section-bg:rgba(238, 244, 250, 1);
$card-bg:rgba(244, 246, 252, 1);
$card-title-color:rgba(40, 41, 56, 1);
$slide-bg:rgba(238, 244, 250, 1)